# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform/

# Helm
*.tgz
.helm/
charts/*/charts/
charts/*/requirements.lock
values.override.yaml
Chart.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store
